<!DOCTYPE html>
<html>
<body>
    <%- include('layouts/base', { 
        title: 'Dashboard',
        content: `
            <div class="container mx-auto px-4 py-6">
                <div class="card bg-base-100 shadow-xl">
                    <div class="card-body">
                        <%- include('components/dashboard/Header') %>

                        ${!locals.user.github_id ? `
                            <%- include('components/dashboard/GitHubConnect') %>
                        ` : !locals.user.selected_repo ? `
                            <%- include('components/dashboard/RepoSelector') %>
                        ` : !locals.user.content_directory ? `
                            <%- include('components/dashboard/DirectorySelector') %>
                        ` : `
                            <%- include('components/dashboard/ContentEditor') %>
                        `}
                    </div>
                </div>
            </div>
        `
    }) %>
</body>
</html>
